# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=1.6  # Apache-2.0
oslosphinx  # Apache-2.0
eventlet!=0.18.3,!=0.20.1,!=0.21.0,!=0.23.0  # MIT
oslo.config!=4.3.0,!=4.4.0  # Apache-2.0 
oslo.log  # Apache-2.0
oslo.concurrency  # Apache-2.0
oslo.policy  # Apache-2.0  
oslo.messaging  # Apache-2.0
oslo.db  # Apache-2.0 
pecan!=1.0.2,!=1.0.3,!=1.0.4,!=1.2  # BSD
paramiko  # LGPLv2.1+
PyMySQL  # MIT License
python-neutronclient  # Apache-2.0
SQLAlchemy!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8  # MIT
keystonemiddleware  # Apache-2.0
autobahn  # MIT License
WSME  # MIT
